

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

/*===== Formulario =====*/


.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 2%;  
}
.form{
  width: 360px;
  padding: 4rem 2rem;
  
  
}



.form_titulo{
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
  animation: parpadeo 10s linear infinite;
  color: #225db4;
}

@keyframes parpadeo  {
  0%, 41%, 45%, 47%, 49.5%, 100%  { 
      opacity: 1;
  }

  42%, 44%, 46%,48%,  50%  { 
      opacity: 0; 
  }
}
.form_div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form_input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #747b8a;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form_label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  color: #141414;
  font-size: 1rem;
  transition: .3s;
}

  .form_boton{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background-position: 100%;
    background-size: 200% 200%;
    background-image: linear-gradient(140deg, rgba(153, 156, 180, 0.3) 0%,rgba(135, 133, 167, 0.8) 55%, rgba(153, 156, 180, 0.3) 90%);
    color: rgb(0, 1, 87);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: .5rem;
    transition: all 1.5s ease;
    
}
.form_boton:hover{
  background-position: 0 0;
}




/*Input focus move up label*/
.form_input:focus + .form_label{
  top: -.8rem;
  left: .8rem;
  color: #0019f7;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
  top: -.5rem;
  left: .8rem;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form_input:focus{
  border: 1.5px solid hsl(199, 100%, 46%);
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}


/* For small devices */
@media(max-width: 320px){
  .formulario{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
}

/* For medium devices */
@media (min-width: 576px){
  .formulario{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    
  }
}


@media (min-width: 1200px){
  .formulario{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
}




